---
layout:
---
<!DOCTYPE html>
<html>
	{% include head.html %}
	<style>
		body>nav {
		background-color: transparent;
		height: 116px;
		}
		body main article {
		background-color: transparent;
		}
	</style>	

	<body>
		<nav></nav>
        <header>
			<img src="/img/digabi-logo.png" alt="Digabi"/>
		</header>
        <div style="display: none;">
        ${% include mathematics.html %}$
        </div>
		
		<main{% if page.main-class %} class="{{page.main-class}}"{% endif %}>
			{{ content }}
		</main>
		
		{% include footer.html %}
	</body>

</html>
